.popup .content {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;

}

.product__title {
  font-size: 3.6em;
  text-align: center;
  font-family: "Fresh-Daily";
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
}

.choose-wrapper {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 0 40px;
  p {
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 0;
    color: var(--pantone-blue);  // Added by TD;
  }
}
.title-name {
  text-align: center;
  color: var(--pantone-blue);  // Added by TD;
  font-size: 50px;
  padding: 5px;

}
.caption {
  text-align: left;
  color: var(--pantone-blue);  // Added by TD;
  font-size: 35px;
  padding: 5px;

}

.price {
  text-align: left;
  color: var(--icon-primary-color);  // Added by TD;
  font-size: 30px;
  padding: 5px;

}

.footer {
  display: flex;
  align-items: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--primary);
  justify-content: space-between;
  margin: 0;
  min-height: 150rem;
  width:95%;

}

.item-container {
  margin: 15px;
  padding: 10px;
  align-items: normal;
  border-radius: var(--product-border-radius);

  filter: var(--shadow-filter);
  color: var(--tertiary);
  background-color: var(--secondary);
}
