// Used when we have multiple modifiers
.modifiers-list {
  display: grid;
  grid-template-rows: 120rem auto;
  padding: 24rem 0;
  width: 100%;

  &.withoutHeader {
    grid-template-rows: unset;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      margin: 0;
    }
  }


  .products--grid {
    display: grid;
    grid-auto-rows: minmax(370rem, 1fr);
    width: 100%;

    &.auto--columns {
      grid-template-columns: repeat(auto-fit, 260rem);

      &.centered {
        justify-content: center;
      }
    }

    .product {
      padding: 24rem 15rem;
    }

    .quantity-info {
      &__amount {
        width: 80rem;
      }

      .lib-icon {
        width: 52rem;
        height: 52rem;
      }
    }

    &.dual-modifiers {
      grid-template-columns: 1fr 1fr;
      max-width: 70%;
      margin: 60rem auto;
      grid-gap: 60rem;
      padding: 20rem 70rem;

      .product {
        opacity: 0.3;

        &.selected {
          transform: scale(1.15);
          opacity: 1;
        }
      }
    }

    &.promos-modifiers {
      &.auto--columns {
        grid-template-columns: repeat(auto-fit, 340rem);
      }
    }
  }
}

.modifiers-wrapper {
  width: 100%;
}

.sizes--selector {
  &.cols--4 {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

.dropdown-modifiers {
  grid-column: 1/-1;
  height: 320rem;
  width: 100vw;
  margin: 0 -40rem;
  padding: 20rem;
  background: var(--background-gray);
  box-shadow: inset 0 0 16rem 5rem rgba(0, 0, 0, 0.16);
}

.dropdown-modifier {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  &.disabled {
    opacity: 0.3;
    filter: grayscale(100%);
    pointer-events: none;
  }

  img {
    max-width: 150rem;
  }

  .ui-button {
    font-size: 22rem;
    padding: 8rem 30rem;
  }
}

// Used when we have to pick only one modifier
.modifiers-selector {
  display: flex;
  justify-content: space-evenly;

  .product--modifier {
    max-width: 300rem;
    max-height: 300rem;

    .product__img {
      max-width: 150rem;
    }

    &.selected {
      transform: scale(1.3);
    }
  }
}

// .modifier-messages-from-single {
//   position: relative;
// }

// .modifier-messages-from-combos {
//   transform: translateX(-55%);
//   width: 100%;
// }
