<button  class="ui-button primary bg--tertiary tiny" [style.visibility]="displayPromoButton?'visible':'hidden'"
         [attr.aria-label]="'Allergens Button'" (click)="allergensClick()">
  <span>{{ '3' | dotTranslate}}</span>
</button>
<!--<div class="flex">-->
<!--  <button *ngIf="displayCaloriesButton" class="ui-button simple color&#45;&#45;light-gray" (click)="toCalories()" [attr.aria-label]="'Calories Button'">-->
<!--    <span>{{ '2' | dotTranslate }}</span>-->
<!--  </button>-->
<!--  <button *ngIf="displayAllergensButton" class="ui-button simple color&#45;&#45;light-gray pr&#45;&#45;0"-->
<!--          [attr.aria-label]="'Allergens Button'"-->
<!--          (click)="allergensClick()">-->
<!--    <span>{{ '3' | dotTranslate }}</span>-->
<!--  </button>-->
<!--</div>-->
