<div class="loading-spinner flex center">
  <div class="circle flex center">
    <svg class="lib-icon color--white">
      <use href="#lib-icon--endscene-wait"></use>
    </svg>
  </div>
  <svg class="svg-spinner" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
		<circle cx="24" cy="4" r="2" fill="var(--spinner-color)"/>
		<circle cx="12.19" cy="7.86" r="2" fill="var(--spinner-color)"/>
		<circle cx="5.02" cy="17.68" r="2" fill="var(--spinner-color)"/>
		<circle cx="5.02" cy="30.32" r="2" fill="var(--spinner-color)"/>
		<circle cx="12.19" cy="40.14" r="2" fill="var(--spinner-color)"/>
		<circle cx="24" cy="44" r="2" fill="var(--spinner-color)"/>
		<circle cx="35.81" cy="40.14" r="2" fill="var(--spinner-color)"/>
		<circle cx="42.98" cy="30.32" r="2" fill="var(--spinner-color)"/>
		<circle cx="42.98" cy="17.68" r="2" fill="var(--spinner-color)"/>
		<circle cx="35.81" cy="7.86" r="2" fill="var(--spinner-color)"/>
	</svg>
</div>
