<div class="main-grid">
  <div class="col-1-17 row-1-8 flex flex--column center">
  </div>
  <section class="col-1-17 row-8-20 flex flex--column center">
    <picture class="circle">
      <img class="circle__img pos--img" src="./assets/images/pos--large.png" alt="">
    </picture>
  </section>
  <div class="col-2-16 row-20-25 flex flex--column center">
    <h3 class="text--center">{{ '29' | dotTranslate }}</h3>
  </div>
  <div class="col-2-16 row-25-31 flex flex--column center">
    <svg class="lib-icon size--140 color--accent bounceDown">
      <use href="#lib-icon--long-arrow-down"></use>
    </svg>
  </div>
</div>