<div class="main-grid table-service">
  <section class="col-1-17 row-1-10 flex flex--column center">
    <img class="logo" src="./assets/branding/taka.PNG" alt="" />
  </section>
  <section class="col-2-16 row-10-12 flex flex--column">
		<h2 class="text--center color--accent">{{ '82' | dotTranslate}}</h2>
  </section>
  <section class="col-4-14 row-14-19 flex flex--column">
		<h3 class="text--center">{{ '81' | dotTranslate}}</h3>
	</section>
	<section class="col-1-17 row-19-26 flex flex--column center">
		<div class="flex center justify--between">
			<picture class="circle medium">
				<img src="./assets/images/payment-selection--flag.png" alt="">
			</picture>
			<svg class="lib-icon ts--plus-icon m--50">
        <use href="#lib-icon--plus"></use>
      </svg>
			<picture class="circle medium">
				<img src="./assets/images/table-service-receipt.png" alt="">
			</picture>
		</div>
	</section>
</div>
