// Default Styles
html {
  overflow: hidden;
  touch-action: none;
  font-size: 1vh / 1920 * 100; // 1 rem for Full HD resolution
}

body {
  position: relative;
  margin: auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 18rem;
  background: var(--secondary);
  font-family: var(--font-default);
  color: var(--primary);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: normal;
}
