@font-face {
  font-family: "Flama Black";
  src: url("../fonts/FlamaCondensed-Black.woff");
  font-style: normal;
}

@font-face {
  font-family: "Flama Light";
  src: url("../fonts/FlamaCondensed-Light.woff");
  font-style: normal;
}

@font-face {
  font-family: "Flama Medium";
  src: url("../fonts/FlamaCondensed-Medium.otf");
  font-style: normal;
}