@font-face {
  font-family: "Flama Black";
  src: url("../fonts/Plein-Black.otf");
  font-style: normal;
}

@font-face {
  font-family: "Flama Light";
  src: url("../fonts/Plein-Light.otf");
  font-style: normal;
}

@font-face {
  font-family: "Flama Medium";
  src: url("../fonts/Plein-Medium.otf");
  font-style: normal;
}
